.wrapper {
    background-color: rgba(30, 31, 32, 1);
    color: #d3c6d2;
    height: 100vh;
    min-width: 100vh;
    margin-left: -1000px;
    margin-right: -1000px;
    margin-top: -40px;
    margin-bottom: -200px;
    padding: 1rem;
    position: relative;
}
.title {
    position: relative;
    font-size: 2.0rem;
    background: linear-gradient(to bottom, #fbf16a, #fa80b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
    transform: translateY(-40px);
    animation: fade 0.5s ease-out forwards;
    transition: color 0.2s, text-shadow 0.2s;
}
.title:hover {
    background: linear-gradient(to right,  #fbf16a, #fa80b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 16px  #fbf16a, 0 0 4px #fa80b9;
}
@keyframes fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.description {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid transparent;
  white-space: nowrap;
  animation: typing 3s steps(50, end);
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}





.panel {
  min-width: 100px;
  height: 400px;
  margin-left: 1000px;
  margin-right: 1000px;
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 100;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
  box-sizing: border-box;
  border-radius: 16px;
  transition-duration: 0.5s;
  transform: translateY(-40px);
  animation: fade 0.5s ease-out forwards;
  transition: color 0.3s, text-shadow 0.3s, border-color 0.3s ease;
  border: 2px solid transparent; 
  text-align: center; 
  width: fit-content;
  margin: 0 auto; 
}
@keyframes fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.panel:hover {
    border-color: #fbf16a;
}

.modeselect {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}