.wrapper {
    background-color: rgba(30, 31, 32, 1);
    color: #d3c6d2;
    height: 100vh;
    min-width: 100vh;
    margin-left: -1000px;
    margin-right: -1000px;
    margin-top: -40px;
    margin-bottom: -200px;
    padding: 1rem;
    position: relative;
}
.title {
    position: relative;
    font-size: 2.0rem;
    background: linear-gradient(to bottom, #fbf16a, #fa80b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
    transform: translateY(-40px);
    animation: fade 0.5s ease-out forwards;
    transition: color 0.2s, text-shadow 0.2s;
}
.title:hover {
    background: linear-gradient(to right,  #fbf16a, #fa80b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 16px  #fbf16a, 0 0 4px #fa80b9;
}
@keyframes fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}