.panel {
  list-style: none; 
  width: 100%;
  height: 400px;
  border: solid 3px transparent;
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 100;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
  box-sizing: border-box;
  border-radius: 16px;
  transition-duration: 0.5s;
  transform: translateY(-40px);
  animation: fade 0.5s ease-out forwards;
  transition: color 0.2s, text-shadow 0.2s;
  text-align: center; 
  width: fit-content;
  margin: 0 auto; 
}
@keyframes fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.panel:hover {
    border-color: #fbf16a;
}



.blocklist {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}