.controlblock {
  padding: 1rem;
  font-size: 2vh;
  min-height: 150px;
  width: 150px;
  border-radius: 8px;
  background-color: #333;
  color: white;
  transition: background-color 0.9s ease;
}

.enabledquality1 {
  color: #23242a;
  background: linear-gradient(to bottom, #fbf16a, #fa80b9);
  text-shadow: 0 2px 16px #d3c6d2, 0 0 4px #fa80b9;
  transition: background 1s ease, color 0.3s ease, text-shadow 0.3s ease;
}
.enabledquality2 {
  color: #23242a;
  background: linear-gradient(to bottom, #fbf16a, #12fdd6);
  text-shadow: 0 2px 16px #d3c6d2, 0 0 4px #12fdd6;
  transition: background 1s ease, color 0.3s ease, text-shadow 0.3s ease;
}
.enabledquality3 {
  color: #23242a;
  background: linear-gradient(to bottom, #fbf16a, #1229fd);
  text-shadow: 0 2px 16px #d3c6d2, 0 0 4px #12fdd6;
  transition: background 1s ease, color 0.3s ease, text-shadow 0.3s ease;
}
.disabledquality1 {
  transition: background 1s ease, color 0.3s ease, text-shadow 0.3s ease;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  border-color: #fa80b9;
}
.disabledquality2 {
  transition: background 1s ease, color 0.3s ease, text-shadow 0.3s ease;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  border-color: #12fdd6;
}
.disabledquality3 {
  transition: background 1s ease, color 0.3s ease, text-shadow 0.3s ease;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  border-color: #1229fd;
}




.diode {
  display: inline-block;
  width: 150px;
  height: 140px;
  border-radius: 12px;
  background: #bdbdbd;
  border: 2px solid #e1dcdc;
  transition: background 0.2s;
}

.button {
  padding: 0.5em 1.2em;
  border-radius: 8px;
  border: none;
  background: #fbf16a;
  color: #272728;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.button:hover {
  background: #fea143;
}


.modelist {
  background-color: #ccc;
  padding: 10px;
  border-radius: 8px;
  display: flexbox;
  gap: 10px;
  list-style: none;
  margin: 0;
}

.qbutton1 {
  padding: 0.5em 1.2em;
  border-radius: 8px;
  border: none;
  background: #fa80b9;
  color: #272728;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.qbutton1:hover {
  background: #ffffff;
}
.qbutton2 {
  padding: 0.5em 1.2em;
  border-radius: 8px;
  border: none;
  background: #12fdd6;
  color: #272728;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.qbutton2:hover {
  background: #ffffff;
}

.qbutton3 {
  padding: 0.5em 1.2em;
  border-radius: 8px;
  border: none;
  background: #1229fd;
  color: #272728;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.qbutton3:hover {
  background: #ffffff;
}


