.wrapper {
    padding: 1rem;
    position: relative;
}

.title {
    position: relative;
    font-size: 2.0rem;
    color: rgba(30, 31, 32, 1);
    opacity: 0.5;
    transform: translateY(-40px);
    animation: fade 0.5s ease-out forwards;
    transition: color 0.2s, text-shadow 0.2s;
}
.title:hover {
    color: #fa80b9;
    text-shadow: 0 2px 16px #ff0088, 0 0 4px #fa80b9;
}
@keyframes fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.description {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid transparent;
  white-space: nowrap;
  animation: typing 3s steps(50, end);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.bg-blob {
  position: absolute;
  border-radius: 1%;
  filter: blur(200px);
  opacity: 0.5;
  z-index: -10;
}
.bg-blob1 {
  width: 30vw;
  height: 140vh;
  background: #fbf16a;
  top: -20vh;
  left: -35vw;
}

.bg-blob2 {
  width: 30vw;
  height: 140vh;
  background: #fbf16a;
  bottom: -30vh;
  right: -35vw;
}