
.button_active1 {
  padding: 0.5em 1.2em;
  border-radius: 8px;
  border: none;
  background: linear-gradient(to bottom, #fbf16a, #fa80b9);
  color: #272728;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.0s;
}
.button_active1:hover {
  background: #fea143;
}
.button_active2 {
  padding: 0.5em 1.2em;
  border-radius: 8px;
  border: none;
  background: linear-gradient(to bottom, #fbf16a, #12fdd6);
  color: #272728;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.0s;
}
.button_active2:hover {
  background: #fea143;
}
.button_active3 {
  padding: 0.5em 1.2em;
  border-radius: 8px;
  border: none;
  background: linear-gradient(to bottom, #fbf16a, #1229fd);
  color: #272728;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.0s;
}
.button_active3:hover {
  background: #fea143;
}
.button_inactive1 {
  padding: 0.5em 1.2em;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #fa80b9;
  background: #272728;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.button_inactive1:hover {
  background: #272728;
}
.button_inactive2 {
  padding: 0.5em 1.2em;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #12fdd6;
  background: #272728;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.button_inactive2:hover {
  background: #272728;
}
.button_inactive3 {
  padding: 0.5em 1.2em;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #1229fd;
  background: #272728;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.button_inactive3:hover {
  background: #272728;
}

.camera_list {
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}