
.button_active {
  padding: 0.5em 1.2em;
  border-radius: 8px;
  border: none;
  background: linear-gradient(to bottom, #fbf16a, #fa80b9);
  color: #272728;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.0s;
}
.button_active:hover {
  background: #fea143;
}
.button_inactive {
  padding: 0.5em 1.2em;
  border-radius: 8px;
  border: none;
  background: #272728;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.button_inactive:hover {
  background: #272728;
}

.camera_list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
